/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Styles */
body {
  background-color: #020617;
  font-family: "Roboto", sans-serif;
}

header {
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  position: fixed;
  padding: 16px 50px;
  align-items: center;
  backdrop-filter: blur(5px);
  justify-content: space-between;
}

nav {
  gap: 100px;
  display: flex;
  align-items: center;
}

nav a {
  font-size: 18px;
  font-weight: 700;
  color: #f8fafc;
  text-decoration: none;
}

main {
  padding: 160px 0;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.main-section {
  max-width: 450px;
  margin-bottom: 80px;
}

.main-section h1 {
  font-size: 40px;
  font-weight: 700;
  color: #f8fafc;
  text-align: center;
}

.main-section p {
  font-size: 16px;
  color: #64748b;
  margin-top: 16px;
  text-align: center;
}

.main-section div {
  gap: 16px;
  width: 100%;
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}

.main-section div button {
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: transparent;
}

.game-button {
  color: #10b981;
  border: 1px solid #10b981;
}

.company-button {
  color: #4f46e5;
  border: 1px solid #4f46e5;
}

.line {
  width: 1px;
  height: 100vh;
  background-color: #334155;
}

h2 {
  margin: 24px 0;
  font-size: 32px;
  font-weight: 700;
  color: #f8fafc;
}

.text-focus-in {
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.text1 {
  -webkit-animation: text-focus-in 1ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: roll-in-blurred-left 1ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-timeline: view();
  animation-range: cover 0% cover 80%;
}

.text2 {
  -webkit-animation: puff-in-center 1ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 1ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation-timeline: view();
  animation-range: cover 0% cover 80%;
}

.text3 {
  -webkit-animation: slide-in-blurred-top 1ms cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 1ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-timeline: view();
  animation-range: cover 0% cover 80%;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
