/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Styles */
body {
  background-color: #020617;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  display: flex;
  padding: 16px 50px;
  align-items: center;
  justify-content: space-between;
}

nav {
  gap: 100px;
  display: flex;
  align-items: center;
}

nav a {
  font-size: 18px;
  font-weight: 700;
  color: #f8fafc;
  text-decoration: none;
}

main {
  padding: 40px 0;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.main-section {
  max-width: 450px;
  margin-bottom: 80px;
}

.main-section h1 {
  font-size: 40px;
  font-weight: 700;
  color: #f8fafc;
  text-align: center;
}

.main-section p {
  font-size: 16px;
  color: #64748b;
  margin-top: 16px;
  text-align: center;
}

.main-section div {
  gap: 16px;
  width: 100%;
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}

.main-section div button {
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: transparent;
}

.game-button {
  color: #10b981;
  border: 1px solid #10b981;
}

.company-button {
  color: #4f46e5;
  border: 1px solid #4f46e5;
}

.line {
  width: 1px;
  height: 100vh;
  background-color: #334155;
}

h2 {
  margin: 24px 0;
  font-size: 32px;
  font-weight: 700;
  color: #f8fafc;
}
